django>=5.2.9,<6
mysqlclient>=2.2.7,<3
oauthlib>=3.3.1,<4
pillow>=12,<13
pre-commit>=4.3,<5
py-cord>=2.7.0rc2,<3
pycolorise>=1,<2
python-dotenv>=1.2.1,<2
python-jose>=3.5,<4
pytz>=2025.2,<2026
requests>=2.32.5,<3
requests-oauthlib>=2,<3
typing-extensions>=4.15,<5
yarl>=1.22,<2
